body{
    
    font-family: "Raleway", sans-serif;

}

.catalog__card-other{
    width: 299px;
    height: 490px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 55px;
    border-radius: 20px;
    background-color: #EFEFEF;
    position: relative;
    
}
.catalog__card{
    background-color: #F2F3F6;
}

.catalog__card-other img{
    border-radius: 20px;
}


.sale{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 56px;
    height: 24px;
}

.card__container{
    margin-left: 20px;
    position: absolute;
    bottom: 10px;
}



.card__dialog{
    color: #B4B4B4;
    margin-bottom: -10px;
}

.price-container{
    display: flex;
    align-items: center;
}

.card__price{
width: 55px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;


}

.favorities-button{
    position: absolute;
    right: 20px;
    margin-top: 20px;
    
}



.catalog{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    justify-content: center;  
}

.catalog__image{
    margin-left: 15px;
    z-index: 1000;
    grid-column: span 2;
}

.catalog-button{
    width: 250px;
    height: 60px;
    display: grid;
    place-items: center;
    background-color: black;
    text-decoration: none;
    color:  white;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image{
    max-width:1697px;
    width: 100%;
    height: 330px ;
    background-image: url(image/696d67416464328dc83b889c344e0fullhd.png) ;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.catalog__card-other img{
    width: 298px;
    height: 324px;
}


.navigation-container{
    display: flex;
}

.Oplata-container{
    padding-top: 180px;
    padding-left: 50px;
}
.slesh {
    margin-left: 5px;
    margin-right: 5px;
}

.image__src{
    text-decoration: none;
    color: #B4B4B4;
    
}
.image__src:last-child{
    
    color: black;
    
}
.Oplata-title{
    font-size: 50px;
    margin-bottom: 10px;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Стиль для кастомного чекбокса */
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-content {
    color:#B4B4B4;
    font-feature-settings: 'pnum' on, 'lnum' on;

}

/* Стиль для обертки чекбокса */
.custom-checkbox .checkmark {
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
   
}

/* Иконка пустого бокса */
.custom-checkbox .box {
    display: block;
    stroke: #B4B4B4;
    
}

/* Иконка галочки, скрыта по умолчанию */
.custom-checkbox .checkmark-icon {
    position: absolute;
    display: none;
    
    
}

#toggle-button.active{
    stroke: #000000;
}

/* Отображение галочки при активном чекбоксе */
.custom-checkbox input[type="checkbox"]:checked + .checkmark .checkmark-icon {
    display: block;
    
    
    
}

.shade--color{
    
    background-color: #B1DEFE;
    
}

.shade{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    margin-right: 10px;
}


.dropdow-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-button {
    background-color: white;
    color: black;
    width: 272px;
    height: 50px;
    border: 2px solid #DDDDDD;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}



.dropdown-button.active {
    background-color: black;
    color: white;
}

.arrow {
    transition: transform 0.3s;
    font-size: 12px;
    stroke: black; /* Черный цвет по умолчанию */
} 

.dropdown-button.active .arrow {
    transform: rotate(180deg);
    stroke: white; /* Белый цвет при нажатии */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 1000;
    border-radius: 20px;
}

.apply-button {
    background-color: #6ED3DE;
    ;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 240px;
    height: 40px;
}

.price-slider input[type="range"] {
    width: 100%;
    margin: 5px 0;
}

.price-container input{
    width: 100px;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    padding: 5px;
    margin-left: 10px;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    padding: 8px 0;
    position: relative;
    cursor: pointer;
  }
  .button-container1 {
    margin-left: 140px;
    
}

.icon-button {
    background-color: black;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-button svg {
    width: 20px;
    height: 20px; 
    fill: white; 
}

 
 .button-catalog{
    text-decoration: none;
    color: white;
   
   
 }

 .button-filter{
    color: white;
    background-color:#6ED3DE;
    width: 156px;
    height: 42px;
    border-radius: 50px;
    border: none;
    margin-left: 10px;
 }

 .button-catalog-container{
    width: 156px;
    height: 42px;
    border-radius: 50px;
    background-color:black;
    display: grid;
    place-items: center;
 }
 .dropdow-adaptiv{
    display: none;
    
 }

 .dropdow-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.price-container{
    display: flex;
}


  @media(max-width:1400px){
    .catalog{
        grid-template-columns: 350px 350px 350px;
    }
    .catalog__image{
        display: none;
    }

    .dropdow-button-container{
        flex-wrap: wrap;
    }
} 

@media(max-width:1100px){
    .catalog{
        grid-template-columns: 350px 350px;
    }
}

@media(max-width:700px){
    .catalog{
        grid-template-columns: 190px 190px;
    }
    .catalog__image{
        display: none;
    }

    .catalog__card{
        width: 155px;
        height: 255px;
        background-image: url(image/696d67416464318dc841443104f92fullhd1.png);
    }
    .catalog__card-other {
        width: 155px;
        height: 255px;
        margin-bottom: 30px;
    }
    .catalog__card-other img{
        width: 155px;
        height: 150px;
    }
   .button-container1{
    margin-left: 30px;
   }
    .card__dialog{
        font-size: 7px;
    }
    .card__title{
        font-size: 12px;
    }
    .card__price{
        font-size: 12px;
    }
    .basket-button{
        width: 10px;
        height: 10px;
        
    }
    .basket-button svg{
        width: 20px;
        height: 10px;
        
    }

    .sale{
        width: 30px;
        height: 12px;
    }

    .icon-button{
        width: 30px;
        height: 30px;
    }
    .icon-button svg {
        width: 10px;
        height: 10px; 
        
    }

    .favorities-button svg{
        width: 12px;
        height: 10px;
    }

    .favorities-button{
        margin-top: 10px;
    }

    .sale{
        top: 10px;
        left: 10px;
    }

    
}

@media(max-width:375px){
    .image{
        max-width: 361px;
        width: 100%;
        height:221px;
        background-image: url(image/pigment.png) ;
        background-position: center;
        background-size: cover;
    }

    .navigation-container{
        display: none;
    }
    .Oplata-container{
      padding-top: 140px;
      
        
    }
    .Oplata-title{
        margin-left: -30px;
      
        font-size: 30px;
        
    }

    .catalog{
        grid-template-columns: 170px 170px;
        margin-left: -20px;
    }

    .catalog__card-other {
        
        margin-bottom: 15px;
    }

    .dropdow-adaptiv{
        display: block;
        display: flex;
        
     }

     .dropdow-container{
        display: none;
    }
    .dropdown--active{
        padding-top: 100px;
        padding-left: 20px;
        background-color:#FFFFFF;
    
        width: 300px;
        height: 700px;
        border-radius: 20px;
        display: block;
        position: absolute;
        z-index: 1000;
    }
    
    .dropdown-content {
        
        position: static;
        
    }
    .none-adaptiv{
        display: none;
    }
    .correct-position{
        margin-left: -12px;
        
    }
    .correct-position-content{
        
        margin-top: -10px;
    }
   
}


.none{
    display: none;
}
.close-btn {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    font-weight: 100;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}

.dropdow-adaptiv-title{
    position: absolute;
    top: 1px;
    left: 20px;
    font-size: 30px;
    display: block;
}

.button-apply-filtr{
    position: absolute;
    bottom: 20px;
    width: 267px;
    height: 55px;
    background-color: #000000;
    border: none;
    border-radius: 50px;
    display: block;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;
    
}
.overlay.active{
    opacity: 1;
    visibility: visible;
}


.no-scroll {
    overflow: hidden;
}


