.carousel {
position: relative;
width: 100%;
height: 922px;
overflow: hidden;
max-width: var(--max-width);
}

.carousel__wrapper {
display: flex;
}

.carousel__slide {
position: relative;
width: 100%;
height: 100%;
}

.carousel__image {
width: 100%;
height: 100%;
object-fit: cover;
}

.carousel__content {
position: absolute;
top: 50%;
left: 10%;
transform: translateY(-50%);
color: white;
}

.carousel__title {
font-size: 3rem;
font-weight: bold;
}

.carousel__subtitle {
font-size: 1.5rem;
}

.carousel__button {
display: inline-block;
margin-top: 20px;
padding: 10px 20px;
background-color: #fff;
color: #000;
border: none;
cursor: pointer;
font-size: 1rem;
border-radius: 25px;
}

.carousel__button:hover {
background-color: #000;
color: #fff;
}

.carousel__button-prev, .carousel__button-next {
position: absolute;
top: 50%;
width: 80px;
height: 80px;
border-radius: 50%;
color: white;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
}

.carousel__button-prev {
left: 20px;
}

.carousel__button-next {
right: 20px;
}

.swiper-pagination {
position: absolute;
float: right;
}

.catalog-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1470px;
    margin: 0 auto;
    margin-top: 60px;
    padding-inline: 20px;
}

/* Карточки до 767px */
.catalog-cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
}

/* Для экранов шириной 767px и меньше */
@media (max-width: 767px) {
    .catalog-cards {
        display: flex;
        overflow-x: auto;
        gap: 15px; 
        padding-inline: 10px; 
    }

    .catalog-cards__card {
        max-width: 209px; 
        flex: 0 0 auto; 
    }

    /* Скрываем горизонтальный скролл */
    .catalog-cards::-webkit-scrollbar {
        display: none;
    }

    .shine {
        margin-top: 50px !important;
    }
}

.catalog-cards__card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.catalog-cards__card p {
    position: absolute;
    bottom:  25px;
    left: 40px;
    font-weight: bold;
    color: #333;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.catalog-cards__card:hover {
    transform: scale(1.01);
}

.catalog-cards__card.wide {
    grid-column: span 2;
}

.shine { 
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 80px;
    padding-inline: 20px;
}

.shone__top {
    display: flex;
    justify-content: space-between;
}



.shine__description {
    margin-top: 66px;
    max-width: 440px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.99%;
    text-transform: uppercase;
    color: #000000;
}

.shine__slogan {
    font-style: normal;
    font-weight: 700;
    font-size: 114px;
    line-height: 134px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    top: -60px;
}

@media (max-width: 940px) {
    .shine__slogan {
        font-size: calc(36px + (114 - 36) * ((100vw - 320px) / (940 - 320)));
        line-height: calc(36px + (134 - 36) * ((100vw - 320px) / (940 - 320)));
    }
}

@media (max-width: 320px) {
    .shine__slogan {
        font-size: 36px;
        line-height: 36px;
    }
}


.about-brand {
    background: #000000;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.shine__phototop {
    width: 50%;
    height: 312px;
}

.shine__bottom-right p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 28px; /* начальный размер шрифта */
    line-height: 40px; /* начальный line-height */
    color: #000000;
}

@media (max-width: 940px) {
    .shine__bottom-right p {
        font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (940 - 320)));
        line-height: calc(28px + (40 - 28) * ((100vw - 320px) / (940 - 320)));
    }
}

@media (max-width: 320px) {
    .shine__bottom-right p {
        font-size: 20px;
        line-height: 28px;
    }
}

.shine__bottom-right {
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
}

.shine__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.product {
    display: flex;
    justify-content: space-between;
    height: auto;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    gap: 18px;
}

.product__item {
    position: relative;
    max-width: 895px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product__text {
    position: absolute;
    bottom: 70px; /* Начальное значение для больших экранов */
    right: 40px; /* Начальное значение для больших экранов */
    font-size: 37.1411px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    line-height: 44px;
    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    max-width: 600px;
}

/* Адаптивное уменьшение для экранов от 320px до 768px */
@media (max-width: 768px) {
    .product__text {
        font-size: calc(18px + (19.1411 * ((100vw - 320px) / 448)));
        line-height: calc(21.13px + (22.87 * ((100vw - 320px) / 448)));
        bottom: calc(25px + (45 * ((100vw - 320px) / 448))); /* Плавное изменение от 25px до 70px */
        right: calc(20px + (20 * ((100vw - 320px) / 448))); /* Плавное изменение от 20px до 40px */
    }
}

/* Фиксированные значения для экранов меньше 320px */
@media (max-width: 320px) {
    .product__text {
        font-size: 18px;
        line-height: 21.13px;
        bottom: 25px;
        right: 20px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

.product__item--overlay {
    position: relative;
    height: 100%;
    max-height: 870px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.product__background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.product__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 30px;
    width: 100%;
    aspect-ratio: 1;
    z-index: 2;
    color: #000;
}

.header {
    z-index: 2300 !important;
}

@media (max-width: 768px) {
    .product {
        margin-top: 50px;
        flex-direction: column;
    }

    .shone__top {
        flex-direction: column;
    }

    .shine-top__img {
        max-width: 400px;
        margin-left: auto;
    }

    .shine__description {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .discounts {
        margin-top: 37px !important;
    }

    .discounts__top {
        padding-bottom: 25px !important;
    }
}

.product__badge {
    display: flex;
    width: 60px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 32px;
    background: #6ED3DE;
    border-radius: 30px;
    margin-bottom: 60px !important;
}



/* Категория продукта */
.product__category {
    width: 114px;
    bottom: 69.69%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.product__name {
    max-width: 512px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-top: 15px;
}

.product__prices {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.product__price {
    font-size: 20px;
}

.product__price--new {
    width: 165px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.product__price--old {
    width: 90px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-decoration-line: line-through;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B4B4B4;
    text-decoration: line-through;
}

.product__button {
    width: 250px;
    height: 61px;
    background: #000000;
    border-radius: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.product__button:hover {
    background-color: #333;
}

.product__content-top {
    padding-top: 24px;
}

.product__content-bottom {
    padding-bottom: 40px;
}

.like-btn {
    width: 63px;
    height: 63px;
    background: #6ED3DE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 50%;
}

.product-product {
    display: flex;
    gap: 16px;
}

@media (max-width: 600px) {
    .product__badge {
        display: none;
        
    }

    .product__name,
    .product__price--new {
        font-size: 25px;
        line-height: 30px;
        margin-top: 10px !important;
        width: auto;
    }

    .product__price--new {
        margin-top: 0 !important;
    }

    .product__price--old {
        font-size: 14px;
        line-height: 16px;
    }

    .product__content-top {
        padding-top: 8 !important;
    }

    .product__content-bottom {
        padding: 0;
    }

    .product__button {
        border: none;
        max-width: 150px;
        font-size: 12px;
        line-height: 14px;
        padding: 0 20px !important;
        height: 45px;
    }

    .product__button svg {
        width: 16px;
        height: 16px;
    }

    .product__content { 
        padding: 20px;
    }

    .like-btn {
        width: 45px;
        height: 45px;
    }

    .like-btn svg {
        height: 22px;
        width: 22px;
    }

    .product-product {
        gap: 10px;
    }

    
}

.discounts__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px; /* Начальное значение для больших экранов */
    line-height: 117.59%; /* Относительное значение для больших экранов */
    text-transform: capitalize;
    color: #000000;
}

/* Адаптивное уменьшение текста для экранов от 320px до 768px */
@media (max-width: 768px) {
    .discounts__title {
        font-size: calc(35px + (15 * ((100vw - 320px) / 448)));
        line-height: calc(41.16px + (15.68 * ((100vw - 320px) / 448)));
    }
}

/* Фиксированные значения для экранов меньше 320px */
@media (max-width: 320px) {
    .discounts__title {
        font-size: 35px;
        line-height: 41.16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}


.custom-carousel {
    position: relative;
}

.custom-carousel__wrapper {
    display: flex;
}

.custom-carousel__slide {
    max-width: 240px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 20px;
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.product-card__badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4081;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
    text-transform: uppercase;
}

.product-card__favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #b0b0b0;
    transition: color 0.3s ease;
}

.product-card__favorite-button:hover {
    color: #ff4081;
}

.product-card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-card__details {
    margin-top: auto;
    padding-top: 10px;
    width: 100%;
}

.product-card__category {
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.product-card__name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-card__price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Кнопка добавления в корзину */
.product-card__cart-button {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.product-card__cart-button:hover {
    background-color: #333;
}



.carousel-home {
    position: relative;
    max-width: 1800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}

.main-banner {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 634px;
}

.arrows {
    width: calc(100% - 100px);
    margin-inline: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.next-button__main,
.prev-button__main {
    background-color: transparent;
    border: none;
    color: white;
}

.pagination-dot {
    color: white;
}

.pagination-dot__active {
    color: black;
}

.pagination-main {
    display: flex;
    gap: 44px;
    float: right;
    position: absolute;
    bottom: 95px;
    right: 70px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -60%);
    height: 100px;
}

.banner-text__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(30px, 5.5vw + 5px, 55px);
    line-height: clamp(30px, 6.5vw + 5px, 65px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.banner-text__p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.banner-text__link {
    max-width: 298px;
    width: 100%;
    height: 61px;
    padding: 15px 29px;
    background: rgba(255, 255, 255, 0.82);
    border-radius: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 50px;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

@media (max-width: 768px) {
    .arrows {
        display: none;
    }

    .pagination-main {
        left: 43px;
        bottom: 28px;
    }

    .banner-text {
        position: absolute;
        left: 35px;
        bottom: -30px;
        transform: translateX(0%);
        transform: translateY(60%);
    }
}

@media (max-width: 425px) {
    .banner-text__link {
        width: 220px;
        height: 40px;
        background: rgba(255, 255, 255, 0.82);
        border-radius: 57.3825px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
        padding-inline: 20px;
    }


    .banner-text {
        position: absolute;
        left: 35px;
        bottom: -30px;
        transform: translateX(0%);
        transform: translateY(90%);
    }
}


.catalog-button_link {
width: 298px;
height: 61px;

background-color: #000000;
border-radius: 100px;
display: flex;
justify-content: space-between;
padding-inline: 30px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
font-feature-settings: 'pnum' on, 'lnum' on;
align-items: center;
color: #FFFFFF;



}

.product__block {
    position: absolute;
    bottom: 20px;
    padding: 80px !important;
}

.product__block-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40.3209px;
    line-height: 47px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.product-p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 142.99%;
    color: #FFFFFF;
    max-width: 600px;
    padding-bottom: 66px;
}

.mission {
    padding-top: 138px;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-bottom: 100px;
}

.mission__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 55px; /* начальный размер шрифта */
    line-height: 65px; /* начальный line-height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    padding-inline: 20px;
}

@media (max-width: 940px) {
    .mission__title {
        font-size: calc(30px + (55 - 30) * ((100vw - 320px) / (940 - 320)));
        line-height: calc(35px + (65 - 35) * ((100vw - 320px) / (940 - 320)));
    }
}

@media (max-width: 320px) {
    .mission__title {
        font-size: 30px;
        line-height: 35px;
    }
}


.mission__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 20px;
}

.mission__image {
    max-width: 532px;
    width: 100%;
    height: auto;
    margin-top: 106px;
}

.mission__text {
    max-width: 550px;
    width: 100%;
}

.mission__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142.99%;
    color: #000000;
}

.mission__button {
    width: 298px;
    height: 61px;
    background: #000000;
    border-radius: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;
    margin-top: 63px;
}

.video {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;

}

.video__header {
    display: flex;

}

.video {
    width: 100%;
}

.video__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 66px;
}

.video__title {
    margin-inline: auto;
    font-size: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 117.59%;
    text-transform: capitalize;
    color: #000000;
}

.video__header {
    padding-left: 103px;
}

.card-container {
    max-width: 1350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 120px;
}

.card {
    position: relative;
    max-width: 430px;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 auto; 
        width: 260px;
        height: auto;
    }

    .card-container {
        overflow-x: hidden;
        margin: 0;
    }
}




.card__image {
    position: relative;
}

.card__overlay {
    padding: 20px;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40.3209px;
    line-height: 47px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.discounts__top {
    padding-inline: 20px;
}

@media (max-width: 600px) {
    .carousel-nav {
        display: none !important;
    }

    .video__title {
        margin: 0;
    }

    .video__header {
        padding-inline: 20px;
        padding-bottom: 20px;
    }
}

.card-container {
    padding-left: 20px;
}

.carousel__sales {
    overflow-x: hidden;
}

.discount__card  {
    width: 100% !important;
}

.carousel__sales {
    gap: 20px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .swiper-wrapper {
        gap: 20px !important;
    }

    .mission {
        padding-bottom: 50px;
        padding-top: 0px;
    }
}

.shine__description-mobile {
    display: none;
}

.shine__description-desktop {
    display: block;
}

@media (max-width: 767px) {
    .mission__image-wrapper {
        display: none;
    }

    .mission__header {
        padding-bottom: 32px;
    }

    .mission__button {
        margin-top: 30px;
    }

    .shine__phototop {
        display: none;
    }

    .about-brand {
        max-width: 222px;
    }

    .shine__slogan {
        top: 0;
        padding-bottom: 20px;
    }

    .shine-top__img {
        width: 70%;
        height: auto;
        padding-bottom: 30px;
    }

    .shine__description-mobile {
        display: block;
    }

    .shine__description-desktop {
        display: none;
    }
}


.mission__button:hover,
.discount__card-button:hover,
.product__button:hover,
.about-brand:hover {
    background-color: #6ED3DE;
    border: #6ED3DE;
}
