.nav-banner {
    max-width: 1700px;
    width: 100%;
    height: 330px;

    border-radius: 22px;

    background-color: #E7E7E7;

    margin: 0 auto;
    padding: 10px;
    padding-left: 50px;

    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 20px;
    margin-top: 110px;
}

h1, h2, h3 {
    margin: 0;
}

.nav-banner__list {
    display: flex;
    gap: 8px;
}

.nav-banner__item { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.011em;
    color: #B4B4B4;
}

.nav-banner__item::after {
    content: "/";
    font-family: 'Raleway';
    font-style: normal;
    padding-left: 8px;
}

.nav-banner__item:last-child {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.011em;
    color: #000000;
}

.nav-banner__item:last-child::after {
    content: "";
}

.nav-banner__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 117.59%;
    color: #000000;
    margin: 0
}

.my-data {
    margin: 0 auto;
    max-width: 1255px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 15px;
    box-sizing: content-box;
}

.aside-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-buttons__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 60px;
    border: 1px solid #DDDDDD;
    border-radius: 100px;
    background-color: transparent;
    padding-inline: 20px;
    color: black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.aside-buttons__link-active {
    background-color: #000000;
    border: #000000;
    color: white;
}

.customer-data__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    padding-bottom: 15px
}

.customer-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.data-customer {
    display: flex;
    justify-content: space-between;
    gap: 21px;
}

.data-customer__field {
    max-width: 827px;
    width: 100%;
}

.data-customer__label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B4B4B4;
}

.data-customer__input {
    padding: 16px 23px;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 100px;
}

.data-customer__input::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.customer-data__button {
    width: 100%;
    height: 60px;
    border: 1px solid #000000;
    background-color: transparent;
    border-radius: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.customer-data__button--primary {
    background-color: #000000;
    border: #000000;
    color: white;
}

.customer-data__buttons {
    padding-top: 30px;
}

.customer-data__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.order__product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(192px, 179px));
    place-content: center;
    gap: 16px;
}

.order__product {
    width: 192px;
    aspect-ratio: 192 / 179; 
    object-fit: cover; 
    border-radius: 10px;
}

.orders__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #DDDDDD;
    margin: 30px 0;
}

.order__details-button {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    padding: 18px 10px;
    background-color: transparent;
    margin-top: 20px;
}

.orders {
    max-width: 828px;
    width: 100%;
}

.order__header__left {
    display: flex;
    flex-direction: column;
}

.order__header__left-bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.order__header {
    display: flex;
    justify-content: space-between;
}

.order__header__right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order__status,
.order__date {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B4B4B4;
}

.order__status--delivered {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #73D789;
}

.order__header__left-bottom {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-top: 15px;
}

.order__header {
    margin-bottom: 45px;
}

.order__status--progress, 
.order__status--canselled {
    color: #6ED3DE;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.order__status--canselled {
    color: #F9265E;
}

.loyalty {
    max-width: 828px;
    width: 100%;
}

.loyalty__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 117.59%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.aside-buttons__moblie {
    display: none;
}

@media (max-width: 840px) {
    .aside-buttons {
        display: none;
    }

    .aside-buttons__moblie {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .my-data {
        display: block;
    }

    
    .aside-buttons__mobile {
        display: block !important;
        padding-bottom: 6px;
    }
}

@media (max-width: 1200px) {
    .need-help {
        display: block;
        width: calc(100% - 40px);
    }

    .need-help__left,
    .need-help__right {
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    .need-help__right-top {
        flex-direction: column;
        text-align: center;
    }

    .need-help__right-bottom {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .need-help__left {
        text-align: center;
    }

    .need-help__left h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 35.14px;
        letter-spacing: 0.01em;
        text-align: left;
        padding-bottom: 20px;
    }

    .need-help__left h3 {
        font-size: 12px;
        font-weight: 700;
        line-height: 14.06px;
        letter-spacing: 0.03em;
    }

    .mobile__help {
        display: block !important;
        padding-bottom: 6px;
    }

    .desktop__help {
        display: none;
    }

    .order__header {
        flex-direction: column;
        gap: 20px;
    }

    .order__header__left-bottom {
        flex-direction: column;
        gap: 0px;
    }

    .order__header__right {
        gap: 8px;
    }

    
    .need-help {
        margin-bottom: 50px !important;
        margin-top: 50px !important;
    }
    
}

.aside-buttons__mobile .aside-buttons__link {
    width: 100%;
    margin-bottom: 10px;
}

.aside-buttons__mobile {
    padding-bottom: 20px;
    display: none;
}

.mobile__help {
    display: none;
}

.footer {
    margin-top: 50px !important;
}

.need-help {
    margin-bottom: 100px;
}

@media (max-width: 430px) {
    .order__product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .order__product-grid > * {
        width: 100%;
    }

    .footer {
        margin-top: 0px !important;
    }

    
}

.hidden {
    display: none;
}


.header {
    top: 0;
}

.header__button,
.blog-a,
.partneer-a,
.search-a,
.cart-a,
.profile-a,
.like-a {
    color: #000000 !important;
}

.header__catalog-button {
    color: white !important;
}
